body {
    background: url('../images/background.png');
    background-size: 95%;
}

img {
    max-height: 200px;
}

form,
.showBtn {
    background-color: #3AAFB2;
    font-size: 20px;
    color: white;
    border-radius: 20px;
    font-family: 'Acme', sans-serif;
}

form {
    padding: 10px;
}

#newShowInput {
    color:  black;
}

.ratingStyle {
    color: #86FBFF;
    border-radius: 20px;
    font-size: 12px;
    background-color: #B29683;
}

#addShow {
    background-color: white;
    color: #474747;
    border: none;
}

input {
    margin: 10px;
}

button {
    background-color: rgba(255, 255, 255, 0);
    border: none;
}

#TVButtons {
    margin: 10px;
}

.showBtn {
    margin: 3px;
}
